<div className="f_Div_c1 d-none d-lg-block ">
    <div className="filter-div-l shadow-normal ">
      <div className="filter_header">
        <div className="row">
          <div className="col-lg-12 filter_sub_heading">
            <h2>
              <img src={filter} alt="filter" />
              Filter (1)
            </h2>
          </div>
        </div>
      </div>
      <div className="filter_body" id="style-3">
        <div className="row">
          <div className="col-lg-12"></div>
          <div className="col-lg-12 filter_sub_check_box_row">
            <h3>Type</h3>
            <div className="custom-control custom-checkbox check-box-row">
              <input
                type="checkbox"
                className="custom-control-input"
                id="customCheckBox1"
              />
              <label
                className="custom-control-label"
                htmlFor="customCheckBox1"
              >
                Matured
              </label>
            </div>
            <div className="custom-control custom-checkbox check-box-row">
              <input
                type="checkbox"
                className="custom-control-input"
                id="customCheckBox2"
              />
              <label
                className="custom-control-label"
                htmlFor="customCheckBox2"
              >
                Paid-Up
              </label>
            </div>
            <div className="custom-control custom-checkbox check-box-row">
              <input
                type="checkbox"
                className="custom-control-input"
                id="customCheckBox3"
              />
              <label
                className="custom-control-label"
                htmlFor="customCheckBox3"
              >
                Terminated/Discontinued
              </label>
            </div>
            <div className="custom-control custom-checkbox check-box-row">
              <input
                type="checkbox"
                className="custom-control-input"
                id="customCheckBox4"
              />
              <label
                className="custom-control-label"
                htmlFor="customCheckBox4"
              >
                Surrendered
              </label>
            </div>
          </div>
        </div>
        <div className="row">
          <div className="col-lg-12 filter_sub_check_box_row">
            <h3>Date</h3>
            
          <div className="col-lg-6">
            <span>from Date</span>
            <div className="date-box">
              <img src={dateicon} alt="dateicon" />
              <input
                type="email"
                className="form-control data-search-box"
                id="search"
                aria-describedby="data-search"
                placeholder="dd/mm/yyyy"
              />
            </div>
          </div>
          <div className="col-lg-6">
            <span>To Date</span>
            <div className="date-box">
              <img src={dateicon} alt="dateicon" />
              <input
                type="email"
                className="form-control data-search-box"
                id="search"
                aria-describedby="data-search"
                placeholder="dd/mm/yyyy"
              />
            </div>
          </div>
        </div>
        
      <div className="filter-footer">
        <div className="row">
          <div className="col-lg-12">
            <button
              type="button"
              className="btn btn-outline-s-secondary"
            >
              Reset
            </button>{" "}
            <button
              type="button"
              className="btn btn-primary-s mrgn-0"
            >
              Apply
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>