.color-black
{
    color: $black;
}

.link-inactive{
    cursor: no-drop;
    color: $light-grey !important;
}

.m-top-10
{
    margin-top: 10px !important;
}

.mrgn-0{
    margin: 0px;
}

.bold{
    font-weight: 600;
}

.brdr-none{
border:none !important;
}

.hide{
    display: none;
}

.show-xs{
    display: block;
}

.sample-header{
    width: 100%;
    background-color: $capital-red;
    padding: 50px;
}

.sample-footer{
    width: 100%;
    background-color: $dark-grey;
    padding: 50px;
}

.text-u{
    text-decoration: underline;
}

.container-dummy{
    height: 700px;
}

.mrgn-right-10{
    margin-right: 10px;
}
