

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .login-card{
        max-width: 420px;
        height:auto;
        background-color: #ffffff;
        margin: auto;
        margin-top: 70px;
        margin-bottom: 70px;
        padding: 50px 20px;
        border-radius: 5px;
    }


.login-card .h3{
   font-size: 24px;
   font-weight: 600;
}

.hide{
    display: none;
}

.show-xs{
    display: block;
}

  
}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
    .hide{
        display: block;
    }
    
    .show-xs{
        display: none;
    }
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .hide{
        display: block;
    }
    
    .show-xs{
        display: none;
    }
    
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .hide{
        display: block;
    }
    
    .show-xs{
        display: none;
    }
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .hide{
        display: block;
    }
    
    .show-xs{
        display: none;
    }
    
    
}
