.cursor-pointer {
    cursor: pointer;
}

.link-underline:link {
    text-decoration : underline;
}


.checkNext:disabled {
    background-color : rgb(133, 133, 133);
}

.modal {
    top : 20% !important;
}

.backArrow {
    margin-right: 6px;
    margin-top: -4px;
}

.existingUser {
    height: 28px !important;
}