.cursor-pointer {
  cursor: pointer;
}

.link-underline:link {
  text-decoration: underline;
}

.checkNext:disabled {
  background-color: rgb(133, 133, 133);
}

.modal {
  top: 5% !important;
  // top: 20% !important;
  ::-webkit-scrollbar {
    display: none;
  }
}
//-------------toast style--------------
#toastBlock {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 6px 12px #0000002e;
  border: 1px solid #1f874c;
  border-radius: 4px;
  opacity: 1;
  position: fixed;
  top: 36px;
  right: 50px;
  z-index: 99;
  width: 291px;
  height: 50px;
  padding: 9px 20px;
  display: none;
  .messageText {
    text-align: left;
    font: normal normal normal 16px/30px "pf_handbook_proregular";
    letter-spacing: 0px;
    color: #1f874c;
    opacity: 1;
  }
}
#toastBlock.showToast {
  display: block;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@-webkit-keyframes fadein {
  from {
    right: 0;
    opacity: 0;
  }
  to {
    right: 50px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    right: 0;
    opacity: 0;
  }
  to {
    right: 50px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    right: 50px;
    opacity: 1;
  }
  to {
    right: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    right: 50px;
    opacity: 1;
  }
  to {
    right: 0;
    opacity: 0;
  }
}

//--------------toast-style----------------

.iconButton {
  text-align: left;
  font: normal normal normal 16px/38px "pf_handbook_proregular";
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  img {
    width: 12px;
    height: 12px;
    margin-right: 7px;
  }
}
.iconButton:hover {
  background-color: lightgray;
}
.line {
  height: 0px;
  border: 1px solid #707070;
  opacity: 0.2;
  max-width: 100%;
  margin: 5px 10px;
}

.backArrow {
  margin-right: 6px;
  margin-top: -4px;
}

.existingUser {
  height: 28px !important;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: $white;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='red' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E") !important;
  box-shadow: none;
}

.btn-primary:hover:enabled {
  background-color: $capital-red !important;
  outline: 0 !important;
  border-color: $capital-dark-red !important;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #cdcece;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.noDisplay {
  display: none;
}
.fp-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #f8f8f8ad;
  .fp-loader {
    left: 45%;
    top: 50%;
    z-index: 100;
    position: absolute;
  }
}

.selectPolicy {
  max-width: 25%;
}
.filterDropdown {
  h6 {
    text-align: left;
    font: normal normal normal 15px/20px "pf_handbook_proregular";
    letter-spacing: 0px;
    color: #3b3e40;
    opacity: 1;
  }
}
.filterDropdown {
  margin-bottom: 3.6vh;
  .filterDropdownButton {
    width: 100% !important;
    height: 35px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #cdcece;
    border-radius: 4px;
    opacity: 1;
    text-align: left;
  }
  .filterButton {
    text-align: left;
    font: normal normal normal 16px/38px "pf_handbook_proregular";
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    padding: 0px 10px;
  }
  .filterButton:hover {
    background-color: lightgray;
  }
}

@media only screen and (max-width: 768px) {
  .fp-container {
    .fp-loader {
      left: 39%;
    }
  }
}

// variable declarations
$header-pink: #da9089;
$brown-header: #6a4742;
$clr-white: #ffffff;
$media-lg: 768px;

/* input[type="radio"]:after {
  width: 15px;
  height: 15px;
  border-radius: 1px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}


input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 1px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: $advising;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 1px solid grey;
} */
input[type="radio"]:after {
  background-color: #d1d3d1;
}

input[type="radio"]:checked:after {
  color: #dc3545;
}

.noDisplay {
  display: none;
}
.fp-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #f8f8f8ad;
  .fp-loader {
    left: 45%;
    top: 50%;
    z-index: 100;
    position: absolute;
  }
}

.yellow-flag {
  display: none;
}

@media only screen and (max-width: 768px) {
  .fp-container {
    .fp-loader {
      left: 39%;
    }
  }
  .selectPolicy {
    max-width: 100%;
    margin: 3vh 0vh;
  }
}

.top-padding {
  padding: 20px;
}
