
//bs-pink-header

.bs-pink-header{
    background-color: $header-pink;
    padding-left: 7.5rem;
    .life-insurance-btn{
        background-color: transparent;
        color: $clr-white;
        border-width: 0;
        padding: 0;
        cursor: pointer;
        line-height: 45px;
        font-family: 'pf_handbook_probold';
        font-size: 26px;
        text-transform: uppercase;
    }
}
@media only screen and (max-width:$media-lg) {
    .bs-pink-header{
        padding-left: 1.2rem;
        .life-insurance-btn {
            font-size: 1.6rem;
        }
    }
}


.bs-brown-header{
    background-color:$brown-header;
    font-family: 'pf_handbook_proregular';
    padding-left: 7.5rem;

    .tagline{
        color: $clr-white;
       line-height: 28px;
        font-size: 16px;
        
    }
}
@media only screen and (max-width:$media-lg) {
    .bs-brown-header{
        padding:  3px 1.2rem ;
        .tagline{
            font-size: 12px;
            margin-bottom: 0px;
        }
    }
}
